.alterPic{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 50px;
    padding-left: 50px;
}
.alterPic:hover{
    background-color: rgb(248, 248, 248);
}
.pic2BUploaded{
    width:50%;
    position: relative;
    left: 50%;
    transform: translateX(-20%);
}
.pic2BUploaded button{
    position: relative;
    top:210px;
}
.pic2BUploaded img{
    position: relative;
    top:-50px;
}
.pic2BUploaded .bar{
    position: relative;
    top:0px;
    left:50px;
}
.alterInf{
    padding-right: 50px;
    padding-left: 50px;
}
.alterInf:hover{
    background-color: rgb(248, 248, 248);
}
.alterInf button{
    
    width:200px;
    height:50px;
    line-height: 50px;
    
}
.layui-upload-drag{
    height:300px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
.form-button-item{
    height:80px;
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
}
.form-button-item a{
	display:block;
}